.NewGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
  position: relative;

  &-content {
    padding: $spacing--lg;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    max-width: 500px;
    width: 100%;

    h3 {
      text-align: center;
    }
  }

  &-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: $z-fab;
    justify-content: center;
    align-items: center;
    padding: $spacing--xl $spacing--lg;
    box-shadow: 0 4px 20px #0000000d;
    gap: $spacing--md;
    border-top: 1px solid $color-background;

    > div {
      width: 100%;
    }
  }

  @include tablet {
    &-content {
      padding: $spacing--xl;
    }

    &-footer {
      padding: $spacing--xl;
      > div {
        width: 250px;
      }
    }
  }
}
