.Slot {
  border: 1px solid $color-primary;
  border-radius: $border-radius--md;
  color: $color-black;
  cursor: pointer;
  padding: $spacing--md $spacing--lg;
  text-align: center;
  transition: box-shadow 0.3s;
  vertical-align: middle;
  width: 100%;
  font-weight: 600;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &--selected {
    transition: border-width 0.2s, box-shadow 0.3s;
    border-width: 3px;
    pointer-events: none;
  }

  &--correct,
  &--wrong {
    transition: color 0.3s, border-width 0.2s, background-color 0.3s;
  }

  &--correct {
    background-color: $color-green;
    color: white;
  }

  &--wrong {
    background-color: $color-red;
    color: white;
  }
}
