.UrlBox {
  width: 100%;
  display: flex;
  color: $color-black;

  input {
    width: 100%;
    padding: $spacing--md;
    border: 1px solid $color-black;
    border-radius: $border-radius--sm 0 0 $border-radius--sm;
    border-right: none;
    outline: none;
    transition: border-color 0.3s;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    white-space: nowrap;
    padding: $spacing--md;
    border: 1px solid $color-black;
    border-radius: 0 $border-radius--sm $border-radius--sm 0;
    font-size: rem(14px);
    font-weight: 600;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;

    &:hover {
      background-color: $color-primary;
    }
  }

  &--copied {
    button {
      background-color: $color-primary;
    }
  }
}
