.Results {
  background-color: #f5be0380;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto 0;

  h1 {
    color: $color-secondary;
  }

  h4 {
    margin-bottom: 2px;
  }
}
