@import "./constants";

// BREAKPOINT
@mixin tablet {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin large {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

// UTILITIES
@mixin tooltip {
  z-index: $z-tooltip;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-black;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: $border-radius--sm;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s 0.7s;
  white-space: nowrap;
  pointer-events: none;

  &::after {
    content: " ";
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -$spacing--sm;
    border-width: $spacing--sm;
    border-style: solid;
    border-color: $color-black transparent transparent transparent;
  }
}
