.RoomSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  gap: 40px;
  width: 100%;

  &-divider {
    display: flex;
    align-items: center;
    width: 100%;
    gap: $spacing--md;
    opacity: 0.3;
    font-size: rem(14px);
    padding: 0 $spacing--lg;
    user-select: none;

    div {
      flex-grow: 1;
      height: 1px;
      width: 100%;
      background-color: $color-black;
    }
  }
}
