.AvatarList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

  &-avatar {
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s,
      border-color 0.4s;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover,
    &--selected {
      // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      transform: scale(1.03);
      border-color: $color-primary;
    }

    &--selected {
      background-color: $color-primary;
    }
  }

  @include tablet {
    max-width: 360px;
  }
}
