.AvatarList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing--lg;
  flex-wrap: wrap;

  &-avatar {
    width: 100px;
    padding: $spacing--md;
    border-radius: 50px;
    transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s,
      border-color 0.4s;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover,
    &--selected {
      transform: scale(1.03);
      border-color: $color-primary;
    }

    &--selected {
      background-color: $color-primary;
    }
  }

  a {
    margin-top: $spacing--lg;
    font-size: rem(12px);
    text-align: center;
    max-width: 33ch;
  }

  @include tablet {
    max-width: 360px;
  }
}
