.NewGameHeader {
  border-bottom: 1px solid $color-background;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing--lg;
  position: relative;

  &-back {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: grid;
    place-items: center;
    height: 50px;

    img {
      width: 30px;
    }
  }

  &-logo {
    width: 110px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &-volumeButton {
    margin-left: auto;
  }

  &-avatar {
    width: 50px;
    margin-left: $spacing--md;
  }

  @include tablet {
    padding: $spacing--lg $spacing--xl;

    &-avatar {
      margin-left: $spacing--lg;
    }
  }
}
