.ProgressBar {
  background-color: $color-background;
  width: 100%;
  height: 10px;
  border-radius: $border-radius--md;
  margin-top: $spacing--xl;

  &-thumb {
    background: $color-secondary;
    background: linear-gradient(90deg, $color-secondary 0%, #f5be03 100%);
    height: 10px;
    border-radius: $border-radius--md;
    transition: width 0.4s;
  }
}
