.CreatorCard {
  margin: auto;
  background-color: $color-background;
  border-radius: 10px;
  width: 400px;

  h3 {
    color: $color-black;
  }
  &-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color-accent;
  }
  img {
    border-radius: 10px;
    width: 200px;
  }
}
