.DifficultySelection {
  width: 100%;

  &-options {
    display: flex;
    flex-direction: column;
    gap: $spacing--md;

    &Item {
      transition: color 0.2s, background-color 0.3s, box-shadow 0.3s;
      &:nth-child(1) {
        color: $color-green;
      }
      &:nth-child(2) {
        color: $color-yellow;
      }
      &:nth-child(3) {
        color: $color-red;
      }

      &--selected {
        color: #fff !important;
      }
    }
  }
}
