.Timer {
  width: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #feedd6;
  padding: $spacing--sm $spacing--md;
  border-radius: $border-radius--xl;
  font-weight: 600;
  animation: pulsate 1.7s infinite;
  opacity: 0.6;
  color: $color-secondary;
  margin: 0 auto;
  margin-top: $spacing--lg;

  img {
    width: 22px;
  }

  &--stop {
    animation: none;
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
